.footer {
  height: 530px;

  @media (min-width: $min-desktop-width) {
    height: 212px;
  }

  box-shadow: 0px -5px 5px -5px rgba(34, 60, 80, 0.2);

  padding: 50px 0 56px;

  &__container {
    padding: 0 16px;
    margin: 0 auto;

    max-width: $max-content-width;
    height: 100%;

    display: grid;
    grid-template-columns: 1fr;

    @media (min-width: $min-desktop-width) {
      grid-template-columns: 30% 30% 40%;
      padding: 0 8px;
      height: 100px;
    }
  }

  &__items-container-3 {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;

    height: auto;

    @media (min-width: $min-desktop-width) {
      height: 65px;
    }
  }

  &__subtitle-1,
  &__subtitle-2,
  &__subtitle-3 {
    font-family: 'Noto Sans';
    font-style: normal;
    font-weight: bold;
    font-size: 17px;
    line-height: 32px;
    letter-spacing: -0.4px;

    color: $c-gray-footer;
  }

  &__address,
  &__phone,
  &__email,
  &__link-1,
  &__link-2,
  &__link-3,
  &__link-4 {
    font-family: 'Noto Sans';
    font-style: normal;
    font-weight: normal;
    font-size: 17px;
    line-height: 32px;
    letter-spacing: -0.4px;

    color: $c-gray-footer-2;

    margin: 0;

    text-decoration: none;
    display: block;
  }

  &__phone::after {
    content: ' +49 (0) 211 9232 3052';
    color: $c-darck-gray-3;
  }

  &__kontakt-email {
    text-decoration: none;
  }
}
