.section-5 {
  height: 100%;
  padding: 0 8px;

  margin: 0 auto 50px;

  width: 100%;
  max-width: $max-content-width;

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  @media (min-width: $min-desktop-width) {
    margin: 0 auto 77px;
    padding: 0 16px;
  }

  &__title {
    @extend %title-1;
    letter-spacing: 2.42px;

    text-align: center;
  }

  &__container1 {
    width: 100%;

    display: flex;
    flex-direction: column;

    justify-content: center;
    flex-wrap: wrap;
    gap: 8px;

    @media (min-width: 1205px) {
      justify-content: start;
    }

    @media (min-width: $min-desktop-width) {
      flex-direction: row;
    }
  }

  &__btn {
    height: 64px;
    width: auto;

    color: $c-white;

    font-family: "BBC Reith Sans";
    font-style: normal;
    font-weight: 500;
    font-size: 17px;
    line-height: 40px;
    letter-spacing: 1.42px;

    border: 1px solid $c-white;
    border-radius: 12px;

    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.21);

    background: linear-gradient(180deg, #0c5cd6 0%, rgba(0, 56, 140, 0) 100%), #004fc7;

    @media (min-width: $min-desktop-width) {
      height: 64px;
      width: 380px;
    }

    &:active {
      box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.3);
      color: $c-gray-2;
    }
  }
}
