@font-face {
  font-family: "BBC Reith Sans";
  src: url(../../src/fonts/BBCReithSans_W_Bd.woff) format("woff2");
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: "BBC Reith Sans";
  src: url(../../src/fonts/BBCReithSans_W_Bd.woff) format("woff2");
  font-weight: 500;
  font-style: normal;
}

// @font-face {
//   font-family: "BBC Reith Sans";
//   src: url(/src/fonts/BBCReithSans_W_Bd.woff) format("woff");
//   font-weight: bold;
//   font-style: normal;
// }

// @font-face {
//   font-family: "BBC Reith Sans";
//   src: url(/src/fonts/BBCReithSans_W_Md.woff) format("woff");
//   font-weight: 500;
//   font-style: normal;
// }
