$c-gray: #eaedf5;
$c-gray-2: #edeff3;
$c-darck-gray: #45494f;
$c-darck-gray-2: #020303;
$c-darck-gray-3: #464c53;
$c-darck-gray-4: #eef0f4;

$c-gray-footer: #a3adba;
$c-gray-footer-2: #9eabbb;

$c-white: #fff;
$c-white-2: #FBFDFF;


$c-dark-blue: #1652ac;
$c-light-blue: #2e75ff;
$c-light-blue-2: #80abff;
$c-light-blue-3: #0045ac;

$c-light-blue-2a: #005be4;
$c-light-blue-3a: #004fc7;

$def-t-duration: 0.5s;

$min-desktop-width: 1024px;
$max-content-width: 1226px;
$max-page-width: 1445px;
